body {
  padding: 20px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bkgd {
  background-color: #41ff0045;
}

.box {
  width: 50%;
  padding: 20px;
  margin: 20px 0;
  background: #ff427dba;
}

button {
  background: #fffb00b0;
  padding: 8px;
  font-size: 16px;
  margin: auto;
  position: relative;
  width: 100%;
}

.spacing {
  margin: 20px;
  width: 50%;
  text-align: center;
  font-size: 16px;
}

@media only screen and (max-width: 650px) {
  .box {
    width: 90%;
  }
}